<a href="https://colab.research.google.com/github/mucollabo/codingdojang/blob/main/Special_Pythagorean_triplet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### [문제] 세 자연수 a, b, c 가 피타고라스 정리 a^2 + b^2 = c^2 를 만족하면 피타고라스 수라고 부릅니다 (여기서 a < b < c ). 예를 들면 3^2 + 4^2 = 9 + 16 = 25 = 5^2 이므로 3, 4, 5는 피타고라스 수입니다.
### a + b + c = 1000 인 피타고라스 수 a, b, c는 한 가지 뿐입니다. 이 때, a × b × c 는 얼마입니까?

In [9]:
from sympy import symbols, solve

a, b, c = symbols('a, b, c')

c = (a**2 + b**2)**(1/2)

if solve(c) == c and (a+b+c) == 1000:
  if a < b and b < c:
    print(a, b, c)

solve(c)

[{a: -sqrt(-b**2)}, {a: sqrt(-b**2)}]